body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  display: flex;
  width: 9vw;
  height: 9vw;
  border-radius: 6px;
  margin: 1px;
  background-color: white;
}

.square:hover {
  box-shadow: inset 0px 0px 30px black;
}

.instructions {
  text-align: center;
  color: white;
  font-family: Tahoma, Arial;
}

.colors {
  color: white;
  border-radius: 3px;
  padding: 3px;
}

.red {
  color: rgb(255, 16, 3);
}

.yellow {
  color: rgb(255, 255, 0);
}

.green {
  color: rgb(116, 255, 3);
}

.purple {
  color: rgb(128, 0, 128);
}

.blue {
  color: rgb(0, 0, 255);
}
